body{
  color:#000000;
  background:#fef9f5;
  }
#myface{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:10em;
  border-radius:50%;
  }
a{
  color:#0040b8;
  text-decoration:none;
  }
a:hover{
  text-decoration:underline;
  }
footer{
padding-top:1em;
font-size:small;
}
header{
text-align:center;
}
#profiles{
font-size:large;
margin-top:-1em;
}
