:root{
    --scale-factor:0.33vw;
    --link-fg:#1775d3;
}
@media(prefers-color-scheme: light){
    :root{
        --text-fg:#24292e;
    }
}
@media(prefers-color-scheme: dark){
    :root{
        --text-fg:#d6d6d6;
        --text-bg:black;
    }
}
*{
    box-sizing:border-box;
}
html{
    font-size:calc(1em + var(--scale-factor));
    max-width:33em;
    margin:auto;
    padding:1em;
    line-height:1.5;
    font-family:-apple-system,system-ui,sans-serif;
    font-variant-numeric:lining-nums;
    color:var(--text-fg);
    background:var(--text-bg);
}
h1{
    font-size:calc(2em + var(--scale-factor));
}
#myface{
    display:block;
    margin-left:auto;
    margin-right:auto;
    border-radius:50%;
}
a{
    color:var(--link-fg);
}
header{
    text-align:center;
}
hr{
    border:none;
    height:2px;
    background:var(--text-fg);
}
