html{
    color:#333333;
    background:#fef9f5;
    font-size:large;
}
#myface{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:100px;
    border-radius:50%;
}
a{
  color:#0040b8;
}
footer{
    padding-top:1em;
    font-size:small;
}
header{
    text-align:center;
}
h1,h2{
    line-height:1.2;
}
